* {
  margin: 0;
  padding: 0;

}
body{
   background: linear-gradient(#f3f1ff, #eefffe, #ffffff);
}

.home-layout {
  min-height: 100vh;
  display: flex;
}

.sidebar-container {
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.content-container {
  flex: 1;
  margin-left: 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-box {
  width: 90%;
  box-sizing: border-box;
  height: 90%;
  border-radius: 12px;
  padding: 40px;
  border: 1px solid #ececec;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  background: #ffffff;
}
